<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Hello </h2>
    <h3>Welcome to Liaplus</h3>
   <h3>You're on Home Screen</h3>
  </div>
</header>


<%- include('partials/footer'); -%>